SERVER_ADDRESS=":8080"

MYSQL_CONNECTION_STRING="root:root@tcp(localhost:3306)/wallet?parseTime=true"
MYSQL_MAX_OPEN_CONNS=25
MYSQL_MAX_IDLE_CONNS=10
MYSQL_CONN_MAX_LIFETIME=5m
MYSQL_CONN_MAX_IDLE_TIME=2m
KURRENTDB_CONNECTION_STRING="kurrentdb://localhost:2113?tls=false"

WALLET_COMMAND_GROUP_NAME="wallet_command"
WALLET_PROJECTION_GROUP_NAME="wallet_projection"
