SERVER_ADDRESS=":8080"

MYSQL_CONNECTION_STRING="root:root@tcp(localhost:3307)/wallet?parseTime=true"
KURRENTDB_CONNECTION_STRING="kurrentdb://localhost:2114?tls=false"

WALLET_COMMAND_GROUP_NAME="wallet_command"
WALLET_PROJECTION_GROUP_NAME="wallet_projection"
