MYSQL_CONNECTION_STRING="root:root@tcp(localhost:3306)/wallet?parseTime=true"

KURRENTDB_CONNECTION_STRING="kurrentdb://localhost:2113?tls=false"

WALLET_PROJECTION_GROUP_NAME="wallet_projection"
WALLET_COMMAND_GROUP_NAME="wallet_command"
